[package]
name = "terrazzo-macro"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
license = { workspace = true }
description = "Macros to generate dynamic HTML nodes in Rust"
readme = "README.md"
categories = ["web-programming", "wasm"]
keywords = ["macro", "proc-macros", "terrazzo", "wasm"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
proc-macro = true

[dependencies]
deluxe = { workspace = true }
prettyplease = { workspace = true }
proc-macro2 = { workspace = true }
quote = { workspace = true }
syn = { workspace = true, features = ["full", "visit-mut"] }

[lints]
workspace = true
