div.tabbed-tile {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-height: 0;
    min-width: 0;
}

div.tile-tabs {
    height: 100%;
    --link-underline-thickness: 4px;
}

div.tile-tab-titles {
    @include trz-header;

    background-color: var(--background-color);
    border: 1px solid var(--color);

    @include prevent-user-select;

    >ul {
        @include trz-header;
        overflow-x: scroll;
        overflow-y: hidden;
        @include no-scroll-bar;
    }
}

li.tile-tab-title {
    height: 100%;

    padding-top: calc(var(--padding) - var(--link-underline-thickness));
    padding-bottom: calc(var(--padding) - var(--link-underline-thickness));

    cursor: pointer;
    color: var(--color);

    &:hover,
    &.selected {
        color: var(--selected-color);
        background-color: var(--selected-background-color);
    }

    &>div {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }
}

div.tile-tab-items {
    flex: 1;
    min-height: 0;

    &>ul {
        height: 100%;

        &>li {
            height: 100%;
        }
    }
}

li.tile-tab-item {
    height: 100%;
}

div.add-tile-tab {
    position: relative;
    display: inline flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: center;
    flex: 1 1 auto;
    padding: 3px;
    margin-right: 2px;
    cursor: pointer;

    img {
        @include trz-icon;
        filter: invert(1);
    }
}
