html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

html {
  border-width: 0px;
}

body {
  border: 1px solid black;
}

.game-9cd8d74 {
  position: relative;
  width: 100%;
  height: 100%;
  --color: black;
  --link-color: blue;
  --background-color: black;
  background-color: var(--background-color);
}
.game-9cd8d74 .game-board-9cd8d74 {
  width: 100%;
  height: 100%;
}
.game-9cd8d74 .cookie-9cd8d74 {
  position: absolute;
}
