html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

html {
  border-width: 0px;
}

body {
  border: 1px solid black;
}

.cookie-17e2e2e {
  position: absolute;
}

.cookies-e19359c {
  width: 100%;
  height: 100%;
}

.game-9cd8d74 {
  position: relative;
}

.game-9cd8d74,
.board-9cd8d74 {
  width: 100%;
  height: 100%;
}
