[package]
name = "terrazzo-client"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }

[lib]

[dependencies]
autoclone-macro = { workspace = true }
nameth = { workspace = true }
scopeguard = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
tracing-subscriber-wasm = { workspace = true }
wasm-bindgen = { workspace = true }
web-sys = { workspace = true, features = [
    "Attr",
    "CssStyleDeclaration",
    "Document",
    "Element",
    "EventTarget",
    "NodeList",
    "Text",
    "Window",
] }

[dev-dependencies]
terrazzo-macro = { workspace = true }
web-sys = { workspace = true, features = ["MouseEvent"] }

[features]
concise_traces = []

[lints]
workspace = true
