.input-overlay {
    position: absolute;
    left: var(--half-padding);
    right: var(--half-padding);
    bottom: var(--half-padding);
    margin: var(--half-padding);
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    pointer-events: none;
    z-index: 10;
}

.input-overlay-buttons {
    display: flex;
    flex-direction: column;
    margin-left: var(--half-padding);
}

.input-overlay-button,
.input-overlay-send {
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    filter: invert(1);
    pointer-events: auto;
    transition: opacity 0.3s ease;
    margin-top: var(--half-padding);
}

.input-overlay-button {
    cursor: pointer;
    opacity: 0.3;
}

.input-overlay-button:hover,
.input-overlay-button.active {
    opacity: 1;
}

.input-overlay:not(.active) .input-overlay-textarea,
.input-overlay:not(.active) .input-overlay-send {
    display: none;
    visibility: hidden;
}

.input-overlay-textarea {
    flex: 1 1 auto;
    min-height: 6rem;
    padding: var(--padding);
    border: 1px solid var(--color);
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.8);
    color: color-mix(in srgb, white 50%, var(--color) 50%);
    pointer-events: auto;
    resize: vertical;
    outline: none;
    @include trz-font;
}

.input-overlay-send {
    opacity: 0.3;
    cursor: default;
}

.input-overlay-send.active {
    opacity: 1;
    cursor: pointer;
}
