ul.remotes-list {
    position: absolute;
    right: 0;
    top: 25px;
    z-index: 1000;

    list-style: none;
    margin: 0;
    padding: 0;
    --padding: 5px;

    border: 1px solid white;
    background-color: var(--background-color);

    li {
        &:hover {
            background-color: var(--link-color);
            cursor: pointer;
        }

        padding: var(--padding);
        margin: 0px;
        white-space: nowrap;
    }
}
