.resize-bar {
    --padding: 3px;
    --width: 5px;

    position: relative;

    width: calc(var(--padding) + var(--padding));
    margin-left: calc(-1 * var(--padding));
    margin-right: calc(-1 * var(--padding));
    height: 100%;
    z-index: 100;

    >div {
        position: absolute;
        inset: 0;
        cursor: col-resize;

        >div {
            position: absolute;
            width: 0;
            height: 100%;
            left: 50%;
            transform: translateX(-50%) scaleX(1);
            transform-origin: center;
            transition-duration: 0.2s;
        }

        &:hover>div {
            width: var(--width);
            background-color: var(--color);
        }
    }
}
