name: Merge validation
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
jobs:
  check:
    runs-on: ubuntu-latest
    name: Sanity checks
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ./.github/actions/setup
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          cache-level: "lenient"
      - uses: ./.github/actions/check
  test:
    runs-on: ubuntu-latest
    name: Unit tests
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ./.github/actions/setup
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          cache-level: "lenient"
      - uses: ./.github/actions/test
  build:
    runs-on: ubuntu-latest
    name: Compilation check
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ./.github/actions/setup
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          cache-level: "lenient"
      - uses: ./.github/actions/build
