name: Renovate
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: '0 16 * * 5'
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.1.0
        with:
          configurationFile: .github/renovate-config.js
          token: ${{ secrets.RENOVATE_TOKEN }}
